<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciberseguridad LCM</title>
    <link href="http://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/consultas.css">
</head>
<body>
       
    <div class="row">
            <p class="text-end"> Hola {{usuario}} ! <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesion <i class="fas fa-sing-out-alt"></i></a></p>
    </div>
      <div class="row">
        <div class="col-7">
            <h3>Listado de consultas</h3>
        </div>
        <div class="col-5 text-end">
            <a class="btn btn-success" href="/admin/consultas/agregar"><i class="fa fa-plus" aria-hidden="true"></i>Nuevo</a>

        </div>
      </div>

     <section class="holder">

           <div class="chat-contacto">
           <img src="/images/logoc.JPG" alt="cyberseguridad" id='Cyberw'/>
            <h1>Cyberseguridad</h1>
           </div>
           <div class="chat-container">
           
              {{#each consultas}}
            <div class="bubble-container right">
                <div class="bubble">
                    <div class="bubble-text">
                        <div>
                            <span>{{Pregunta}}</span>
                            <div class="bubble-info">18:00</div>
                        </div>
                    </div>
                <div class="text-end">
                        <td >
                            <a class="btn btn-secondary" href=" "><i class="bi bi-pencil-square" aria-hidden="true"></i></a>
                            <a class="btn btn-secondary" href=""><i class="bi bi-trash3-fill" aria-hidden="true" ></i></a>
                        </td>
                    </div>
                </div>
            </div>
            {{/each}}
           
       {{#each consultas}}
            <div class="bubble-container left">
                <div class="bubble">
                    <div class="bubble-text">
                        <div>
                            <span>{{Respuesta}}</span>
                            <div class="bubble-info">16:05</div>
                        </div>
                    </div>
                     <div class="icon">
                        <td >
                            <a class="btn btn-secondary" href=" "><i class="bi bi-pencil-square" aria-hidden="true"></i></a>
                            <a class="btn btn-secondary" href=""><i class="bi bi-trash3-fill" aria-hidden="true" ></i></a>
                        </td>
                    </div>
                    
                </div>
           </div>
            {{/each}}
         
           
                
            <div>
            <form>
                <input type="text" name="" value="Escriba su consulta ..."/>
                <button><i class="fa-solid fa-paper-plane"></i>Enviar</button>
            </form>

        </div>
        </section>
</div>
    
</body>
</html>
