<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Login Form</title>
    <link rel="icon" type="image/x-icon" href="/form-icon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    
    <div class="form-login">
      <div class="text-center">
        <h2>Bienvenido</h2>
        <p class="text-muted">Para cambiar contenido de la pagina,ingresa tu correo de acceso y contraseña</p>
      </div>
      <form class="mt-5" action="#">
        <div class="mb-4 col-lg-4 mx-auto">
          <label for="emailAddress" class="form-label fw-semibold"
            >Correo electronico:</label
          >
          <input
            type="email"
            class="form-control"
            id="emailAddress"
            placeholder="Ingresa tu correo"
          />
          
        </div>

        <div class="mb-4 col-lg-4 mx-auto">
          <label for="password" class="form-label fw-semibold">Contraseña:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Ingresa tu contraseña"
          />
        </div>
        <div class="col-lg-4 mx-auto form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="loggedIn"
            checked
          />
          <label class="form-check-label fw-semibold mb-4" for="loggedIn">
            Recordarme
          </label>
        </div>
        <div class="d-grid col-lg-4 mx-auto">
          <button type="button" class="btn btn-primary btn-lg">Ingresar</button>
        </div>
      </form>
</body>
</html>
     