h2{
    color:rgba(58, 187, 226, 0.668);
    font-weight: 400;
}
.bienvenidos{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}
.testimonios{
    width:25%;
}
.columnas{
    display: flex;
    justify-content: space-between;
    gap:20px;

}
.bienvenidos p{
    font-size: 20px;
}
.testimonio{
    background-color:rgba(212, 242, 251, 0.668);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(24, 114, 142, 0.668);
}
.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}
.testimonio .autor{
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
}

.respuesta{
    background-color:rgba(212, 242, 251, 0.668);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(24, 114, 142, 0.668);
}