#contenedor {
	width: 800px;
	background: #8FA68E;
	overflow: hidden;
}
nav {
	background: #CC3910;
	
}
ul {
	list-style-type:none;
	line-height: 4ex;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	
	
	
}
aside {
	background: #CCC59E;
	

}

