body{
   font-family: 'Mukta', sans-serif;
    background-color: rgb(255, 235, 247);
}
header{
    background: linear-gradient(to bottom, rgb(251, 192, 245),white);
    border-radius: 15px 3px 15px 3px;
}
h1{
    text-align:center;
    color:rgb(239, 106, 239);
    opacity:40%;
    font-style: oblique;
    text-decoration:underline;
    
}
#banner{
    width: 100%;
    border-radius: 20px;
}
h2{
    color: gray;
    font-size:medium;
}

li{
    color: gray;
    font-size: small;
    text-decoration:underline;

}
#parrafo{
    padding-left: 20px;
    background-color: lightgrey;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
h3{
    color:gray;
    font-size: larger;
    font-style: oblique;
}
button{
    border-radius: 20px;
    background-color:rgb(217, 234, 251);
    opacity:80%;
    animation: alternate-reverse;
    
}
