header{
    width: 100%;
    background: url('../../../../public/imagenes/banners.JPG') ;
    padding: 10px 0;
    border-radius: 10px 10px 0px 0px;
    height: 90px;
    font-family:'Open sans';
    
}
#Cyber{
    border-radius: 45%;
    height: 95px;
    align-items: center;
    margin-left:25px;

   
}
header h1{
    color:rgba(58, 187, 226, 0.668) ;
    vertical-align: middle;
    font-size: 55px;
    font-weight: 100;
    display: inline-block;
    font-style: italic;
    position: relative;
    bottom: 45px;
    margin-left: 30px;

}
